@page
@model GuildModel
@{
    ViewData["Title"] = "Guilds";
}

<body class="bg-secondary bg-dark text-center text-white">
    <h1>@ViewData["Title"]</h1>

    <h5>Click on a guild to see the characters dedicated to each!</h5>
    <br>
    <!-- Table to display all guilds in database -->
    <div class="border border-white">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center text-white">Guild</th>
                    <th scope="col" class="text-center text-white">Moral Alignment</th>
                </tr>
            </thead>
            <tbody>
                <!-- Displays guild information for each guild. -->
                @foreach (var g in Model.Guilds)
                {
                    <tr>
                        <td><a class="text-center text-white" asp-page="./SpecificGuild" asp-route-id="@g.GuildID">@Html.DisplayFor(GuildStat => g.Name)</a></td>
                        <td class="text-center text-white">@Html.DisplayFor(GuildStat => g.MoralAlignment)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>