@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bg-secondary text-center bg-dark text-white">
    <h1 class="display-3 text-bold">Builds of Dirarys</h1>
    <hr />
    <div class="row">
        <div class="col-6 border border-white text-center">
            <p>
                This website will help you plan a build for the RPG called Dirarys!
            </p>
        </div>
        <div class="col-6 border border-white text-center">
            <p>
            Follow the navigation link "Characters" to see a list of presets and start building your own!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-white">
            <div>
                <img src="css/Dirarys.jpg">
            </div>
        </div>
    </div>
</body>
